In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("googl_daily_prices.csv")
df

            date  1. open  2. high    3. low  4. close   5. volume
0     2025-05-28  173.160  175.265  171.9107   172.360  34284926.0
1     2025-05-27  170.160  173.170  170.0000   172.900  37995670.0
2     2025-05-23  169.055  169.960  167.8900   168.470  35211439.0
3     2025-05-22  171.850  176.770  170.7100   170.870  74864418.0
4     2025-05-21  163.690  173.140  163.5600   168.560  73415956.0
...          ...      ...      ...       ...       ...         ...
5222  2004-08-25  104.760  108.000  103.8800   106.000   9188600.0
5223  2004-08-24  111.240  111.600  103.5700   104.870  15247300.0
5224  2004-08-23  110.760  113.480  109.0500   109.400  18256100.0
5225  2004-08-20  101.010  109.080  100.5000   108.310  22834300.0
5226  2004-08-19  100.010  104.060   95.9600   100.335  44659000.0

[5227 rows x 6 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5227 entries, 0 to 5226
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       5227 non-null   object
 1   1. open    5227 non-null   float64
 2   2. high    5227 non-null   float64
 3   3. low     5227 non-null   float64
 4   4. close   5227 non-null   float64
 5   5. volume  5227 non-null   float64
dtypes: float64(5), object(1)
memory usage: 245.1+ KB

In [4]:
df.columns

Index(['date', '1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [5]:
df.rename(columns = {"1. open": "open", "2. high": "high", "3. low": "low", "4. close": "close", "5. volume": "volume"}, inplace = True)

In [6]:
df.head()

         date     open     high       low   close      volume
0  2025-05-28  173.160  175.265  171.9107  172.36  34284926.0
1  2025-05-27  170.160  173.170  170.0000  172.90  37995670.0
2  2025-05-23  169.055  169.960  167.8900  168.47  35211439.0
3  2025-05-22  171.850  176.770  170.7100  170.87  74864418.0
4  2025-05-21  163.690  173.140  163.5600  168.56  73415956.0

In [7]:
df.to_json("cleaned_data.json", orient= "records", indent = 2)