In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("global_street_food.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dish Name            4500 non-null   object
 1   Country              4500 non-null   object
 2   Region/City          4500 non-null   object
 3   Ingredients          4500 non-null   object
 4   Description          4500 non-null   object
 5   Cooking Method       4500 non-null   object
 6   Typical Price (USD)  4500 non-null   float64
 7   Vegetarian           4500 non-null   object
dtypes: float64(1), object(7)
memory usage: 281.4+ KB

In [7]:
df.describe()

       Typical Price (USD)
count          4500.000000
mean              2.657429
std               1.358311
min               0.200000
25%               1.560000
50%               2.660000
75%               3.830000
max               5.000000

In [9]:
df.columns

Index(['Dish Name', 'Country', 'Region/City', 'Ingredients', 'Description',
       'Cooking Method', 'Typical Price (USD)', 'Vegetarian'],
      dtype='object')

In [10]:
df.rename(columns = {"Dish Name": "Dish", "Region/City": "Region", "Cooking Method": "Method", "Typical Price (USD)": "Price"}, inplace = True)

In [12]:
df.head()

,Dish,Country,Region,Ingredients,Description,Method,Price,Vegetarian
0,Takoyaki,Japan,Osaka,"Octopus, Flour Batter, Bonito Flakes, Green On...","Crispy and hot, often served with sauces or ch...",Fried,3.28,No
1,Vada Pav,India,Mumbai,"Potato, Spices, Bread Bun, Chutney","Crispy and hot, often served with sauces or ch...",Fried,2.37,Yes
2,Funnel Cake,USA,Texas,"Batter, Sugar, Oil","Crispy and hot, often served with sauces or ch...",Fried,2.78,Yes
3,Kathi Roll,India,Kolkata,"Flatbread, Egg, Chicken, Onions, Chutney",Charred to perfection with a smoky flavor.,Grilled,1.89,No
4,Pad Thai,Thailand,Bangkok,"Rice Noodles, Tofu, Eggs, Peanuts, Bean Sprouts",Quickly tossed in a hot pan with bold flavors.,Stir-Fried,3.48,Yes

In [13]:
df.to_json("cleaned_cooking.json", orient= "records", indent = 2)